    @media screen and (width >=500px) {
        .card {
            width: 430px;
        }

        .personal-data .name {
            font-size: 17px;
        }
    }

    @media screen and (min-width: 950px) {
        .card {
            width: 915px;
        }

        .card {
            grid-template-columns: 44% 57%;
        }

        #drawers {
            border-top-right-radius: 0;
            border-bottom-left-radius: 12px;
        }

        .author-info {
            display: flex;
        }

        .show-data {
            position: relative;
            gap: 15px;
        }

        .data {
            gap: 15px;
        }

        .info {
            padding: 0 35px 25px;
        }

        #share-options {
            opacity: 0;
            position: absolute;
            right: -60px;
            padding: 18px 30px;
            bottom: 112px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        #share-options::after {
            position: absolute;
            content: '';
            bottom: -13px;
            right: 100px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid var(--Very_Dark_Grayish_Blue);
        }

        .options {
            gap: 20px;
        }

        .options p {
            letter-spacing: 5px;
            font-size: 14px;
        }
    }